/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}


@media (min-width: 768px) {
  .container {
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}


@media (min-width: 992px) {
  .container {
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}
